
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách khách hàng</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>stt</th>
                                <th>Tên khách hàng</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                                <th>Số lần mua</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>001</td>
                                <td>
                                    Cúc Tịnh y
                                </td>
                                <td>Nữ</td>
                                <td>Quảng Đông ,Trung Quốc</td>
                                <td>2</td>
                                <td>Cucty@gmail.com</td>
                            </tr>

                            <tr>
                                <td>001</td>
                                <td>
                                    Cúc Tịnh y
                                </td>
                                <td>Nữ</td>
                                <td>Quảng Đông ,Trung Quốc</td>
                                <td>2</td>
                                <td>Cucty@gmail.com</td>
                            <tr>
                                <td>001</td>
                                <td>
                                    Cúc Tịnh y
                                </td>
                                <td>Nữ</td>
                                <td>Quảng Đông ,Trung Quốc</td>
                                <td>2</td>
                                <td>Cucty@gmail.com</td>
                            <tr>
                                <td>001</td>
                                <td>
                                    Cúc Tịnh y
                                </td>
                                <td>Nữ</td>
                                <td>Quảng Đông ,Trung Quốc</td>
                                <td>2</td>
                                <td>Cucty@gmail.com</td>
                            </tr>
                            <tr>
                                <td>001</td>
                                <td>
                                    Cúc Tịnh y
                                </td>
                                <td>Nữ</td>
                                <td>Quảng Đông ,Trung Quốc</td>
                                <td>2</td>
                                <td>Cucty@gmail.com</td>
                            <tr>
                                <td>001</td>
                                <td>
                                    Cúc Tịnh y
                                </td>
                                <td>Nữ</td>
                                <td>Quảng Đông ,Trung Quốc</td>
                                <td>2</td>
                                <td>Cucty@gmail.com</td>
                            <tr>
                                <td>001</td>
                                <td>
                                    Cúc Tịnh y
                                </td>
                                <td>Nữ</td>
                                <td>Quảng Đông ,Trung Quốc</td>
                                <td>2</td>
                                <td>Cucty@gmail.com</td>
                            </tr>
                            </tr>
                            </tr>
                            </tr>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>





