
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách đơn hàng mới đặt</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Số đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày giao</th>
                                <th>Địa chỉ</th>
                                <th>Thành tiền</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>001</td>
                                <td>
                                    0011
                                </td>
                                <td>Nguyễn Văn A</td>
                                <td> 2/7/2021</td>
                                <td>Phước Long, Giồng Trôm, Bến Tre</td>
                                <td>150000</td>
                                <td>
                                    <spam style="color: blue;">Đang Giao Hàng</spam>
                                </td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>
                                    0012
                                </td>
                                <td>Cúc Tịnh Y</td>
                                <td> 1/9/2021</td>
                                <td>Quảng Đông, Trung Quốc</td>
                                <td>500000</td>
                                <td>
                                    <spam style="color: blue;">Đang Giao Hàng</spam>
                                </td>
                            </tr>
                            <tr>
                                <td>003</td>
                                <td>
                                    0019
                                </td>
                                <td>Dương Mịch</td>
                                <td> 15/9/2021</td>
                                <td>Cầu Giấy, Hà Nội</td>
                                <td>140000</td>
                                <td>
                                    <spam style="color: blue;">Đang Giao Hàng</spam>
                                </td>
                            <tr>
                                <td>004</td>
                                <td>
                                    0211
                                </td>
                                <td>Triệu Lộ Tư</td>
                                <td> 2/12/2021</td>
                                <td>Bắc Kinh, Trung Quốc</td>
                                <td>230000</td>
                                <td>
                                    <spam style="color: blue;">Đang Giao Hàng</spam>
                                </td>
                            <tr>
                                <td>005</td>
                                <td>
                                    4011
                                </td>
                                <td>Dương Dương</td>
                                <td> 4/5/2018</td>
                                <td>Tân Cương, Trung Quốc</td>
                                <td>450000</td>
                                <td>
                                    <spam style="color: blue;">Đang Giao Hàng</spam>
                                </td>
                            </tr>
                            <tr>
                                <td>006</td>
                                <td>
                                    0311
                                </td>
                                <td>Lý Thắm</td>
                                <td> 11/2/2021</td>
                                <td>Quảng Nam</td>
                                <td>220000</td>
                                <td>
                                    <spam style="color: blue;">Đang Giao Hàng</spam>
                                </td>
                            </tr>
                            <tr>
                                <td>001</td>
                                <td>
                                    031
                                </td>
                                <td>Nguyễn Văn A</td>
                                <td> 2/7/2021</td>
                                <td>Phước Long, Giồng Trôm, Bến Tre</td>
                                <td>150000</td>
                                <td>
                                    <spam style="color: blue;">Đang Giao Hàng</spam>
                                </td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>
                                    0012
                                </td>
                                <td>Cúc Tịnh Y</td>
                                <td> 1/9/2021</td>
                                <td>Quảng Đông, Trung Quốc</td>
                                <td>500000</td>
                                <td>
                                    <spam style="color: blue;">Đang Giao Hàng</spam>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>



